<!DOCTYPE html>
<html>
	<head>
	  <title>Trello Clone</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	  <!-- // <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
	  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>	  
	  <%= csrf_meta_tags %>
	  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
	</head>
	<body>
	  <div class="overlay hidden">
	  	<div class="confirm-board-remove">
	  		<div class="text-confirm-area">Would you really like to delete this board?</div>
			<button type="button" class="confirm-delete-board btn btn-danger btn-md">Yes</button>
			<button type="button" class="confirm-no-delete-board btn btn-success btn-md">No</button>
	  	</div>
	  </div>
	  <div class="card-overlay hidden"></div>
	  <%= render partial: "layouts/header" %>
	  <%= yield %>
	</body>
</html>
